<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @questiongroup.name %>
</p>

<%= link_to 'Edit', edit_questiongroup_path(@questiongroup) %> |
<%= link_to 'Back', questiongroups_path %>
