	html .jumbotron, .container, section, body, footer, header{
		background: rgb(242, 242, 232) !important;
	}
	
.jumbotron{
	text-align: center;
}
	
.container{
	
	
	
	
	header{
		
	}
	
	h1,h2,h3,h4,h5,h6{
		background: transparent !important; 
		text-align: center;
		padding-bottom: 1.5em;		
	}
	
	.textItem{
		font-size: 20px;
		text-align: justify;
	}
	
	.inputArea{
		margin-bottom: 25px;
		text-align: center;
		
		#questionHelperIcon{
			position: absolute;
			margin-left: 15px;
			font-size: 18px;
		}
		
		.questionHelper{
	  	position: absolute;
	    height: 100%;
	    width: 180px;
			right: -59px;
			top: 0;
				
			#questionHelperContent{
				display: none;
				.border-radius(5px);
				background: rgb(248,248,236);
				padding: 8px;
				height: 100%;
				border: 1px solid rgb(255,255,255);
				text-align: left !important;
			}
		}
		
	}
	
	.field{
		margin-bottom: 25px;
		text-align: center;
	}
}